body  {
    background-image: url("https://i.pinimg.com/originals/6b/e1/84/6be1847b56e3832a614699142d1e09d8.jpg");
    background-color: #cccccc;
    align-content: center;
    text-align: center;
}
.ingredients {
    font-size: 20px;
}
